[push]
	default = simple
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
[include]
	path = .gitconfig.local
[alias]
	co = commit
	ck = checkout
	st = status
	br = branch
	ff = merge --ff-only
	pr = merge --no-ff
	tree = log --oneline --graph --decorate
	tree-all = log --oneline --graph --decorate --all
