[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
[interactive]
	singleKey = yes
[include]
	path = .gitconfig.local
[alias]
	co = commit
	ck = checkout
	st = status
	br = branch
	ff = merge --ff-only
	pr = merge --no-ff --no-edit
	force-push = push --force-with-lease
	tree = log --oneline --graph --decorate
	tree-all = log --oneline --graph --decorate --all
[init]
	defaultBranch = master
